@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Ubuntu:wght@500&display=swap");
main {
  margin: 30px; }
  main h2 {
    text-align: center;
    margin-bottom: 10px; }

.main__nosotros {
  margin-top: 50px;
  background-color: #1f1f21;
  box-shadow: -10px -10px 5px #1f1f21;
  transform: translate(-1500px);
  opacity: 0; }

.main__ofertas div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .main__ofertas div b {
    color: #ffff; }

.main__ofertas .ofertas__img .ofertas {
  transition: 1s; }
  .main__ofertas .ofertas__img .ofertas:hover {
    transform: scale(1.1); }

@media screen and (min-width: 992px) {
  main {
    margin: 100px; }
    main .carousel-caption {
      color: black; }
  .nosotros {
    display: flex; }
  .main__ofertas {
    margin-top: 50px; }
    .main__ofertas div {
      flex-direction: row;
      align-items: flex-star; }
    .main__ofertas .ofertas__img {
      justify-content: space-around; } }
